
# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# ===============================
# Pytest
# ===============================
.pytest_cache/
testResults/
htmlcov/
.coverage

# ===============================
# Playwright
# ===============================
playwright-report/
test-results/
trace.zip
**/traceFiles/
**/*.zip

# ===============================
# IDE
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Jenkins / CI
# ===============================
workspace/